.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}

.hover\:bg-indigo-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(62, 68, 153, var(--tw-bg-opacity));
}

.text-black {
    color: #000;
}

/* Adjusted input size */
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/* Increase vertical padding */
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Increase horizontal padding */
.content-container {
    margin-left: 280px;
    /* Adjust according to the width of your navbar */
}

@media (max-width: 724px) {
    .content-container {
        margin-left: 0;
    }
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

@media (max-width: 1024px) and (orientation: landscape) {
    .home-creators {
        display: none;
    }
}

.py-4 {
    padding-top: 1rem;
    /* Adjust as needed */
    padding-bottom: 1rem;
    /* Adjust as needed */
}

.h3-bold {
    font-weight: bold;
}

.bottom-bar {
    margin-top: auto;
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4px;
    /* Remove bottom margin */
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.bottom-bar a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.bottom-bar img {
    width: 24px;
    height: 24px;
}

.bottom-bar p {
    font-size: 10px;
    margin-top: 5px;
}

.bottom-bar a:not(:last-child) {
    margin-right: 16px;
    /* Add margin between <a> tags */
}

@media (min-width: 821px) {
    .bottom-bar {
        display: none;
    }
}

/* Hover effect for list items */
.leftsidebar-link {
    transition: transform 0.3s ease;
    height: 60px;
}

.leftsidebar-link:hover {
    background-color: #877EFF;
    /* Change to desired color */
    border-radius: 8px;
    /* Add round corners */
    transform: scale(1);
    /* Larger hover effect */
}

/* Hover effect for list item links */
.leftsidebar-link:hover a {
    color: #fff;
    /* Change to desired color */
}

/* Hover effect for list item images */
.leftsidebar-link:hover img {
    filter: brightness(0) invert(1);
    /* Change the image color to white */
}

/* Adjusted navbar position */
.leftsidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    /* Adjust width as needed */
}

.flex.flex-col.gap-6 {
    width: 230px;
    /* Set the desired width */
    gap: 16px;
    /* Set the desired gap value */
}

/* Media query to hide sidebar on smaller screens */
@media (max-width: 770px) {
    .leftsidebar {
        display: none;
    }
}

.post {
    position: relative;
    background-color: black;
    border-radius: 0.5rem;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Gray shadow */
}

.post .top-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #5a67d8;
    /* Change this color as needed */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transition: opacity 0.3s ease;
}